{
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 :paths     ["src" "resources" "target/classes" #_"java/src"]

 :deps      {org.clojure/clojure                                                       {:mvn/version "1.11.1"}
             org.clojure/test.check                                                    {:mvn/version "1.1.1"}
             org.sahli.asciidoc.confluence.publisher/asciidoc-confluence-publisher-cli {:mvn/version "0.16.0"}
             ;; PlantUML
             net.sourceforge.plantuml/plantuml         {:mvn/version "1.2022.5"}

             ;;logging
             io.pedestal/pedestal.log                                                  {:mvn/version "0.5.10"}
             org.apache.logging.log4j/log4j-core                                       {:mvn/version "2.17.2"}
             org.apache.logging.log4j/log4j-slf4j-impl                                 {:mvn/version "2.17.2"}
             }

 :aliases   {

             :build    {:deps       {io.github.clojure/tools.build {:tag "v0.8.2" :sha "ba1a2bf"}}
                        :ns-default build
                        :jvm-opts ["-source" "8" "-target" "8"]
                        :javac-opts ["-source" "8" "-target" "8"]}
             :compile  {:extra-deps {badigeon/badigeon {:mvn/version "1.7"}}}

             :run      {:extra-paths ["resources"]
                        :jvm-opts    ["-DLOG4J_CONFIGURATION_FILE=resources/log4j2.xml"
                                      "-Duser.timezone=UTC"]
                        :main-opts   ["--main" "confluence-publisher.confluence-publisher.core"]}

             :repl     {:extra-deps  {nrepl/nrepl          {:mvn/version "0.9.0"}
                                      healthsamurai/matcho {:mvn/version "0.3.9"}
                                      criterium/criterium  {:mvn/version "0.4.6"}
                                      hashp/hashp          {:mvn/version "0.2.1"}}
                        :extra-paths ["dev/src" "resources" "test"]
                        :jvm-opts    []
                        :main-opts   ["--main" "nrepl.cmdline"]}

             :test     {:extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                      healthsamurai/matcho          {:mvn/version "0.3.9"}
                                      lambdaisland/kaocha           {:mvn/version "1.67.1055"}
                                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}}
                        :extra-paths ["resources" "test" "test/resources"]
                        :jvm-opts    []
                        :main-opts   ["--main" "kaocha.runner"]}

             :jar      {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                        :exec-fn      hf.depstar/jar
                        :exec-args    {:jar        "confluence-publisher.jar"
                                       :aot        true
                                       :exclude    [".*confluence-publisher.confluence-publisher.*\\.clj" ".*\\.java"]
                                       :main-class "confluence-publisher.confluence-publisher.core"
                                       :sync-pom   true
                                       :compile-ns [:all]}}

             :uberjar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                        :exec-fn      hf.depstar/uberjar
                        :exec-args    {:jar        "confluence-publisher.jar"
                                       :aot        true
                                       :exclude    [".*confluence-publisher.confluence-publisher.*\\.clj" ".*\\.java"]
                                       :main-class "confluence-publisher.confluence-publisher.core"
                                       :sync-pom   true
                                       :compile-ns [:all]}}

             :install  {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                        :exec-fn      deps-deploy.deps-deploy/deploy
                        :exec-args    {:installer :local :artifact "confluence-publisher.jar"}}


             :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.7.804"}}
                        :main-opts  ["-m" "antq.core"]}

             }
 }
